#Body{
    background: red;
    background-image: linear-gradient(to right, gold, red);

    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 91%;
}

#bottom{
    left: 0; right: 0;
    height: 10px;
}

#bottom { bottom: 0; }

#Body_Border{
    background: black;
    width: 100%;

    min-height: 615px;
    overflow: hidden;


    border: 1px solid black;
    border-radius: 30px;
    
}

#Yu_Gi_Oh_Logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

#Container_1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}

#Container_2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}

#Container_3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}

#Container_4{
    padding: 2px;
}

#submit{
    display: block;
    margin-left: auto;
    margin-right: auto;

    background-color: Black;
    color: red;
    border: 1px solid red;
    border-radius: 25px;
}

#Name, #Type, #Atk, #Def, #Image, #Level, #Race, #Attribute, #ID{
    width: 32%;
    padding: 2px;

    background-color: Black;
    color: gold;
    border: 1px solid gold;
    border-radius: 3px;
}

.nav{
    background: black;
    padding: 5px;

    border: 1px solid gold;
    border-radius: 25px;
}

#Description_Container{
    padding: 7px;
}

#Description{
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 45%;
    min-height: 100px;
    padding: 4px;

    background-color: Black;
    color: Gold;
    border: 1px solid gold;
    border-radius: 3px;
}

#Duelists{
    display: flex;
    color: Gold;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

#Highlighted_Cards{
    display: flex;
    justify-content: space-between;
    align-items: left;

    padding: 5px;
}

#Card_List{
    display: block;
    margin-left: auto;
    margin-right: auto;

    border:2px solid Gold;
    border-radius: 5px;
    width: 38%;
    min-height: 528px;
    overflow: hidden;
}

#Yu_Gi_Oh_Background{
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 20%;
    border-radius: 5px;
    overflow: hidden;
}

#Card_Data{
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 30%;
    color: Gold;
    border:2px solid red;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
}

.Deck_Image{
    float: left;
    padding: 6px;
}

#Space{
    display: inline-block;
    margin: 0; 
    text-align: center;
}

#Discover_Background{

    background-image: linear-gradient(to right, gold, red);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    color: black;
    padding-bottom: 10px;
}

#Title_One{
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

#Discover_Title{
    font-size: 60px;
}

#Discover{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Discover_Yu_Gi_Oh_Background{
    display: block;
    margin-left: auto;
    margin-right: auto;

    border-radius: 5px;

    overflow: hidden;
}

#Discover_Card_Data{
    display: block;
    margin-left: auto;
    margin-right: auto;

    border:3px solid;
    border-image-slice: 1;

    border-image-source: linear-gradient(to left, gold, red);

    width: 50%;
    color: Gold;
    background-color: black;
    min-height: 250px;
    overflow: hidden;
    padding: 10px;
}

#Random_Button{
    padding-top: 30px;
    min-height: 50px;
}

#button{
    display: block;
    margin-left: auto;
    margin-right: auto;

    background-color: black;
    color: gold;
    border: 5px solid black;
    border-radius: 25px;
}

#button_2{
    display: block;
    margin-left: auto;
    margin-right: auto;

    background-color: black;
    color: gold;
    border: 5px solid black;
    border-radius: 25px;

}

.Random_Monster_Info_{
    padding-left: 5px;
}

.Random_Spell_Trap_Info{
    padding-left: 5px;
}

#Duel_Zone{
    padding-top: 5px;

}

#Title_Two{
    text-align: center;
    font-size: 25px;

    color: gold;
}

#Duel_Zone_Title_2{
    font-size: 50px;
}

#Game_Type{
    display: block;
    margin-left: auto;
    margin-right: auto;

    background-color: black;
    color: gold;
    border: 1px solid gold;
    border-radius: 15px;
}

#Scoreboard{
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: gold;
}

#Player_1{
    display: block;
    margin-left: auto;
    margin-right: auto;

    padding-right: 75px;
}

#Player_2{
    display: block;
    margin-left: auto;
    margin-right: auto;

    padding-left: 75px;
}

#Dropbox{
    padding: 25px;
}