#Body{
    background: red;
    background-image: linear-gradient(to right, gold, red);

    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 91%;
}

#bottom{
    left: 0; right: 0;
    height: 10px;
}

#bottom { bottom: 0; }

#Body_Border{
    background: black;
    width: 100%;

    min-height: 615px;
    overflow: hidden;


    border: 1px solid black;
    border-radius: 30px;
    
}

#Yu_Gi_Oh_Logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

#Container_1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}

#Container_2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}

#Container_3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}